<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molde</title>
    <link rel="stylesheet" href="../CSS/GeneralStyles.css">
    <script src="/Prototipos/AppWeb/ViewModel/GeneralScripts.js"></script>
    <link rel="stylesheet" href="../CSS/TermsCond.css">
    
</head>
<body>
    <Main>
        <div id="screen">
            <!-- Barra no topo do celular com as informações de sinal e bateria -->
            <div id="topBar">
                <div id="topBarLocalTime"></div>
                <div id="topBarStatusItems"></div>
            </div>

            <!-- Conteúdo principal da tela -->
            <div id="mainContent">
                
                <div id="TCHeader">
                    <h1>Travel Journal</h1>
                </div>

                <div id="TCBody">
                    <div id="TCScrollTerms">
                        <p>Bem-vindo ao Travel Journal, um aplicativo de viagens que permite que você compartilhe suas experiências e
                            descubra novos destinos de forma interativa. Antes de utilizar nossos serviços, leia atentamente os Termos e
                            Condições abaixo para garantir uma experiência segura e satisfatória.</p>
                        </br>
                        <h2>1. Aceitação dos Termos e Condições</h2>
                        <p>Ao acessar ou utilizar o aplicativo Travel Journal, você concorda em cumprir e respeitar estes Termos e
                            Condições. Se você não concordar com qualquer parte deste documento, por favor, não utilize nossos
                            serviços.</p>
                        </br>
                        <h2>2. Privacidade e Dados Pessoais</h2>
                        <p>O Travel Journal valoriza e protege sua privacidade. Ao utilizar o aplicativo, você concorda com a coleta,
                            armazenamento e uso de suas informações pessoais de acordo com nossa Política de Privacidade. Essas
                            informações podem incluir, mas não estão limitadas a:</p>
                        <ul>
                            <li>Nome, endereço de e-mail e informações de contato;</li>
                            <li>Fotos e vídeos compartilhados voluntariamente;</li>
                            <li>Dados de localização enquanto estiver utilizando o aplicativo.</li>
                        </ul>
                        </br>
                        <h2>3. Compartilhamento de Fotos e Vídeos</h2>
                        <p>Ao publicar fotos e vídeos no Travel Journal, você concede automaticamente à Travel Journal e aos usuários
                            autorizados o direito não exclusivo, transferível, sublicenciável, livre de royalties e mundial para usar,
                            reproduzir, modificar, distribuir e exibir esses conteúdos.</p>
                        </br>
                        <h2>4. Localização e Dados Geográficos</h2>
                        <p>O Travel Journal utiliza dados de localização para fornecer serviços baseados em localização. Ao ativar esta
                            funcionalidade, você concorda em compartilhar sua localização em tempo real enquanto estiver utilizando o
                            aplicativo. Essas informações podem ser utilizadas para exibir seu itinerário, recomendações
                            personalizadas e outros recursos relacionados à localização.</p>
                        </br>
                        <h2>5. Responsabilidades do Usuário</h2>
                        <p>Você é responsável por todas as atividades realizadas através de sua conta no Travel Journal. Certifique-se de
                            manter suas credenciais de login seguras e informe-nos imediatamente sobre qualquer uso não autorizado de
                            sua conta.</p>
                        </br>
                        <h2>6. Modificações nos Termos e Condições</h2>
                        <p>A Travel Journal reserva-se o direito de modificar ou atualizar estes Termos e Condições a qualquer momento.
                            Notificaremos os usuários sobre mudanças significativas através do aplicativo ou por meio de comunicação
                            direta. O uso contínuo do aplicativo após tais modificações constitui aceitação dos Termos revisados.</p>
                        </br>
                        <p>Ao utilizar o Travel Journal, você concorda integralmente com estes Termos e Condições. Esperamos que desfrute
                            da sua jornada conosco! Safe travels!</p>
                    </div>
                </div>

                <div id="BtContainer">
                    <button id="TCExit" class="baseDivBt" onclick="Navigate('./SignUp.html')">Voltar</button>
                    <button id="TCAccept" class="baseDivBt" onclick="Navigate('./SignUp.html')">Concordo</button>
                </div>
            </div>

            <!-- Barra inferior com os três botões -->
            <div id="bottonBar">
                <div id="bottonBarBt1" class="bottonBt"></div>
                <div id="bottonBarBt2" class="bottonBt"></div>
                <div id="bottonBarBt3" class="bottonBt"></div>
            </div>
        </div>
    </Main>
</body>
</html>