#indexProceedBt {
    width: 200px;
    height: 80px;
}

#indexContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 30px;
    text-align: center;
}