/* .bg-content{
    height:100%;
    width: 100%;
    background-image: url('../Images/logo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.logo {
    color: #fff;
    font-weight: bolder;
    font-size: -webkit-xxx-large;
    font-family: cursive;
    text-shadow: 0px 0px 5px #000, 0px 0px 10px #21e749, 0px 0px 10px #21e749,
    0px 0px 20px #21e749;
    

}
.underLogo {
    font-size: 14px;
    font-family: cursive;
    text-align: center;
    
}

.logoWrap {
    background-color: #fff;
    border: 2px outset #008000;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 20px 20px 50px 10px #21e749 inset;
}

.loginContent {
    display:grid;
    align-items:center;
    justify-content:center;
    height:100%;
    grid-template-rows: 50% 25% 25%;    

    background-image: url('../Images/logo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    input {
        border: 2px solid;
        border-color: #21e749;
        border-radius: 25px;
        background-color: #b9e5c2;
        height:50px;
        width: 200px;
        padding: 20px;
    }
    ::placeholder {
        text-align: center;
        font-size: 15px;
    }
    .inputsDiv {
    display:flex;
    
    flex-direction:column;
    align-items:center;
    gap: 10px;
}
button {
    padding: 10px 32px;
}
.buttonsDiv {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 15px;
    margin-top: 30px;
}

#loginInputContainer {
    background-color: #fff;
    padding: 40px;
    border-radius: 40px;
    margin: 50px 30px 0px 30px;
}
