<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molde</title>
    <link rel="stylesheet" href="../CSS/GeneralStyles.css">
    <script src="ViewModel/GeneralScripts.js"></script>
    <link rel="stylesheet" href="../CSS/CameraStyles.css">
    
</head>
<body>
    <Main>
        <div id="screen">
            <!-- Barra no topo do celular com as informações de sinal e bateria -->
            <div id="topBar">
                <div id="topBarLocalTime"></div>
                <div id="topBarStatusItems"></div>
            </div>

            <!-- Conteúdo principal da tela -->
            <div id="mainContent">
                <div id="cameraContent">

                </div>
                
            </div>

            <!-- Barra inferior com os três botões -->
            <div id="bottonBar">
                <div id="bottonBarBt1" class="bottonBt"></div>
                <div id="bottonBarBt2" class="bottonBt"></div>
                <div id="bottonBarBt3" class="bottonBt"></div>
            </div>
        </div>
    </Main>
</body>
</html>