<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se ou faça Login</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
      </style>
    <link rel="stylesheet" href="../CSS/GeneralStyles.css">
    <link rel="stylesheet" href="../CSS/LoginStyles.css">
    <script src="/ViewModel/GeneralScripts.js"></script>
</head>

<body>

    <Main>

        <div id="screen">
            <!-- Barra no topo do celular com as informações de sinal e bateria -->
            <div id="topBar">
                <div id="topBarLocalTime"></div>
                <div id="topBarStatusItems"></div>
            </div>

            <!-- Conteúdo principal da tela -->
            <div id="mainContent">
                <div class="bg-content"></div>  
                <div id="loginContent" class="loginContent">
                    <div class="logoWrap"><h1 class="logo">Travel Journal</h1>
                    <h1 class="underLogo">Grandes viagens merecem grandes recordações</h1>

               
                </div>
                    <div class="inputsDiv">
                        <input type="text" placeholder="Usuário">
                        <input type="password" placeholder="Senha">
                        <a href="">Esqueci minha senha</a>
                    </div>
                    <div class="buttonsDiv">
                        <button class="baseDivBt">
                            <a href="">Entrar</a>
                        </button>
                        <span></span>
                        <span>Ainda não tem conta?</span>
                        <button class="baseDivBt">
                            <a href="">Cadastre-se</a>
                        </button>
                    </div>
                </div>

            </div>

            <!-- Barra inferior com os três botões -->
            <div id="bottonBar">
                <div id="bottonBarBt1" class="bottonBt"></div>
                <div id="bottonBarBt2" class="bottonBt"></div>
                <div id="bottonBarBt3" class="bottonBt"></div>
            </div>
        </div>
    </Main>
</body>

</html>