<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se ou faça Login</title>
    <link rel="stylesheet" href="../CSS/GeneralStyles.css">
    <script src="/ViewModel/GeneralScripts.js"></script>
</head>
<body>
    <Main>
        <div id="screen">
            <!-- Barra no topo do celular com as informações de sinal e bateria -->
            <div id="topBar">
                <div id="topBarLocalTime"></div>
                <div id="topBarStatusItems"></div>
            </div>

            <!-- Conteúdo principal da tela -->
            <div id="mainContent">

                <div id="loginContent">
                    <label>Usuário</label>
                    <input type="text">
                    <label>Senha</label>
                    <input type="password">
                    <a href="">Esqueci minha senha</a>
                    <div class="baseDivBt">
                        <a href="">Entrar</a>
                    </div>
                    <span>Ainda não tem conta?</span>
                    <div class="baseDivBt">
                        <a href="">Cadastre-se</a>
                    </div>
                </div>

            </div>

            <!-- Barra inferior com os três botões -->
            <div id="bottonBar">
                <div id="bottonBarBt1" class="bottonBt"></div>
                <div id="bottonBarBt2" class="bottonBt"></div>
                <div id="bottonBarBt3" class="bottonBt"></div>
            </div>
        </div>
    </Main>
</body>
</html>