<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registre sua viagem</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
    </style>
     <script src="/ViewModel/GeneralScripts.js"></script>
     <link rel="stylesheet" href="../CSS/MainStyles.css">
     <link rel="stylesheet" href="../CSS/GeneralStyles.css">
</head>

<body>
    <Main>
        <div id="screen">
            <!-- Barra no topo do celular com as informações de sinal e bateria -->
            <div id="topBar">
                <div id="topBarLocalTime"></div>
                <div id="topBarStatusItems"></div>
            </div>
            <div id="mainContent" class="mainContent">
                <div id="ms-content" class="ms-content">
                    <div id="status" class="status">
                       
                        <Button class="btn-location" type="submit" onclick="alertLocation()"></Button> 
                       <div id="modalLocation" class="modalInitial">
                        <div class="modal">
                            <span class="close-btn" onclick="closeLocation()">&times;</span>
                        <p>Você atualizou sua configuração de localização</p>
                    </div>
                       </div>

                       <Button class="btn-share" type="submit" onclick="alertShare()"></Button>
                       <div id="modalShare" class="modalInitial">
                        <div class="modal">
                            <span class="close-btn" onclick="closeShare()">&times;</span>
                        <p>Compartilhe esta viagem com seus amigos!</p>
                    </div>
                       </div> 
                       <Button class="btn-system" type="submit" onclick="alertSystem()"></Button> 
                       <div id="modalSystem" class="modalInitial">
                        <div class="modal">
                            <span class="close-btn" onclick="closeSystem()">&times;</span>
                        <p>Configure seu app!</p>
                    </div>
                       </div> 

                       <Button class="btn-tag"type="submit" onclick="alertTag()"></Button>  
                       <div id="modalTag" class="modalInitial">
                        <div class="modal">
                            <span class="close-btn" onclick="closeTag()">&times;</span>
                        <p>Categorize esta viagem!</p>
                    </div>
                       </div>   

                    </div>
                    <div id="map" class="map">
                        <p>Você está em Reykjavic</p>
                        <img src="../Images/map.png" alt="mapa da localização atual" />
                                            </div>
                    <div id="pictures" class="pictures">  <img src="https://assets.codepen.io/1506195/unsplash-1.jpg" alt="" />
                        <img src="https://assets.codepen.io/1506195/unsplash-7.jpg" alt="" />
                        <img src="https://assets.codepen.io/1506195/unsplash-3.jpg" alt="" />
                        <img src="https://assets.codepen.io/1506195/unsplash-2.jpg" alt="" />
                        <img src="https://assets.codepen.io/1506195/unsplash-6.jpg" alt="" />
                        <img src="https://assets.codepen.io/1506195/unsplash-0.jpg" alt="" />
                        <img src="https://assets.codepen.io/1506195/unsplash-8.jpg" alt="" />
                      </div>
                      
                    <div id="checkIt" class="check-it">
                        <div>
                            <button class="btn-text"></button>
                        </div>  
                        <div>
                            <button class="btn-check-on"type="submit" onclick="alertCheckOn()"></button>
                            <div id="modalCheckOn" class="modalInitial">
                                <div class="modal">
                                    <span class="close-btn" onclick="closeCheckOn()">&times;</span>
                                <h3>Você realizou o CheckOn de sua viagem à <span style="color: blue;">Reykjavic!</span></h3>
                                <p>Você ainda pode adicionar mais fotos à esta viagem caso não mude sua localização, basta dar CheckOn novamente!</p>
                            </div>
                               </div> 
                        </div>
                        <div>
                            <button class="btn-camera-roll" onclick="Navigate('Camera.html')"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="bottonBar">
                <div id="bottonBarBt1" class="bottonBt"></div>
                <div id="bottonBarBt2" class="bottonBt"></div>
                <div id="bottonBarBt3" class="bottonBt"></div>
            </div>
        </div>
    </Main>
</body>